@{
    ViewBag.Title = "_about";

}
<body class="sub_page">
    <!-- about section -->
    <section class="about_section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 offset-md-1">
                    <div class="detail-box pr-md-2" style="color:white">
                        <div class="heading_container">
                            <h2 class="">
                                About Us
                            </h2>
                        </div>
                        <p class="detail_p_mt">

                            <h2>Racoon</h2>
                            A platform for free lance services in many fields that are carried out by university students who are able to provide the services they specialize in, with personal follow-up from people with long experience in the field of service provided, and the two main goals are for the service provider (student) to gain the necessary experience for the labor market
                        </p>
                        <a href="about" class="">
                            Read More About Experincies
                        </a>
                    </div>
                </div>
                <div class="col-md-6 px-0">
                    <div class="img-box ">
                        <img src="~/css/images/about-img.jpg" class="box_img" alt="about img">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- about section ends -->



</body>
