@{
    ViewBag.Title = "login";
    Layout = "~/Views/Shared/CustomerLayout.cshtml";

}


<body class="sub_page">


    <!-- contact section -->
    <section class="contact_section ">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-6 px-0">
                    <div class="img-box ">
                        <img src="~/css/images/contact.jpeg" class="box_img" alt="about img">
                    </div>
                </div>
                <div class="col-md-5 mx-auto">
                    <div class="form_container">
                        <div class="heading_container heading_center">
                            <h2 style="color:black">Login</h2>
                        </div>






                        <form action="loginValidation" method="post">
                            <div class="form-row">
                                <div class="form-group col">
                                    <input type="email" name="Email"  id ="email" class="form-control" placeholder="Your Email" required />
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col">
                                    <input type="password" name="Password" id="pass"  class=" form-control" placeholder="Password" required />
                                </div>
                            </div>
                            <div class="btn_box">
                                <button>
                                    Login
                                </button>
                            </div>
                        </form>













                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end contact section -->
    <!-- info section -->
    <!-- end info_section -->
    <!-- footer section -->

</body>

